body {
    font-family: Font;
    background-color: rgb(20, 14, 56);
}
h1 {
    color: maroon;
    font-size: 300%;
    text-align: center;
    margin: 0;
}

#tv
{
    display: block;
    margin: auto;
    background-image: url(Images/tv-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 16.5px 20px 20px   ;
    width:  fit-content;
    padding-bottom: 200px;
    
}


canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
    background-image: url(Images/BattleArena.png);
    background-size: cover;
}

@font-face {
    font-family: Font;  
    src: url(Images/DoubleFeature20.ttf);
}