body {
    font-family: Font;
    
    
}

#td 
{
    display: block;
    margin: auto;
    background-image: url(Images/tv2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:  20px;
    padding-bottom: 200px;
    
}
canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
    background-image: url(Images/BattleArena.png);
    background-size: cover;
}

@font-face {
    font-family: Font;
    src: url(DoubleFeature20.ttf);
}